@import "../../../styles/variables.scss";

.changeMode {
  display: flex;
  align-items: center;
  color: $base-color;
  cursor: pointer;
}
.dropdownIcon {
  color: $base-color;
  margin-left: 6px;
}

.dropdownMenu {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--body-background-default);
  -webkit-box-shadow: -1px 25px 19px 0px rgba(0, 0, 0, 0.37);
  box-shadow: -1px 25px 19px 0px rgba(0, 0, 0, 0.37);
  width: 93px;
  position: absolute;
  top: 59px;
  overflow: hidden;
  border-radius: 0 0 8px 8px;
  padding: 10px 0;
}

.dropdownMenuItem {
  margin: 5px 0;
  cursor: pointer;
  height: 20px;
  overflow: visible;
  &:hover {
    filter: opacity(50%);
  }
}

.dropdown-enter {
  opacity: 0;
  max-height: 0;
}

.dropdown-enter-active {
  opacity: 1;
  max-height: 100px;
  transition: all 300ms ease-in;
}

.dropdown-exit {
  opacity: 1;
  max-height: 100px;
}

.dropdown-exit-active {
  opacity: 0;
  max-height: 0;
  transition: all 300ms ease-in;
}

.dropdown-enter-done {
  opacity: 1;
  pointer-events: all;
}
.dropdown-exit-done {
  opacity: 0;
  pointer-events: none;
}
