@import "variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Source+Sans+Pro&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  background: var(--body-background-default);
  transition: background-color $transition-mode $transition-ms;
}
.App {
  user-select: none;
  padding-top: 15px;
  margin: 0 auto;
  max-width: 750px;
  font-family: "Poppins", sans-serif;
  height: 100vh;
}
input,
textarea,
select {
  font-family: inherit;
}
