@import "../../styles/variables.scss";
.input,
.inputError {
  border-radius: 4px;
  width: 100%;
  border: 0;
  margin-bottom: 10px;
  padding: 5px 0;
  border-bottom: 1px dotted var(--border-color-default);
  color: var(--font-color-default);
  font-size: 16px;
  background: transparent;
  transition: background-color $transition-mode $transition-ms, color $transition-mode $transition-ms,
    border-bottom-color $transition-mode $transition-ms;
}
.inputError {
  background-color: rgba(245, 0, 0);
}

.input:focus,
.inputError:focus {
  outline: none;
}

.text {
  color: var(--font-color-default);
  transition: color $transition-mode $transition-ms;
  width: 100%;
}

.checked {
  color: #9a9a9a;
}
