@import "../../styles/variables.scss";

.modalWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10000;
  pointer-events: none;
  opacity: 0;
  transition: 0.3s;
}

.modalWrapper.active {
  opacity: 1;
  transition: 0.3s;
  pointer-events: all;
}

.modal {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: var(--body-background-default);
  width: 50vw;
  -webkit-box-shadow: 0 0 26px 4px rgba(0, 0, 0, 0.53);
  box-shadow: 0 0 26px 4px rgba(0, 0, 0, 0.53);
  color: var(--font-color-default);

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  font-size: 24px;
  div {
    padding: 10px;
    cursor: pointer;
  }
}
