@import "../../styles/variables.scss";

$width: 55px;
$translateCircle: $width - 28px;
$translateRightIcon: $width - 25px;

$widthFocus: 84px;
$translateCircleFocus: $width + 1px;
$translateRightIconFocus: $width - 26px;

.headerWrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  box-shadow: 3px 5px 15px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow $transition-ms $transition-mode;
  padding: 5px 0;
  &.focused {
    box-shadow: 3px 5px 15px 5px rgba(0, 0, 0, 0);
    transition: box-shadow $transition-ms $transition-mode;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 20px 0;
  color: var(--font-color-default);
  width: 750px;

  .wrapper {
    display: flex;
    align-items: center;
  }
  .wrapperIcons {
    display: flex;
    align-items: center;
    width: 127px;
  }
  svg {
    width: 20px;
    height: 20px;
  }
  .changeMode {
    display: flex;
    align-items: center;
    color: $base-color;
    cursor: pointer;
  }
  .dropdown {
    color: $base-color;
    margin-left: 6px;
  }
  .reset {
    margin-left: 30px;
    cursor: pointer;
    height: 20px;
    svg {
      transition: color $transition-mode $transition-ms;
      color: var(--svg-color-default);
    }
  }

  .speed,
  .mistakes {
    display: flex;
    align-items: center;
  }
  .speedIcon,
  .mistakesIcon {
    height: 20px;
  }

  .speedValue,
  .mistakesValue {
    transition: color $transition-mode $transition-ms;

    margin-left: 7px;
  }
  .speed {
    margin-right: 15px;
  }
}

.switch,
.switchFocus {
  position: relative;
  display: inline-block;
  width: $width;
  height: 27px;
  user-select: none;
}

.switch input,
.switchFocus input {
  display: none;
}

.slider {
  display: flex;
  align-items: center;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c6c8ca;
  transition: background-color $transition-ms $transition-mode;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 50%;
  z-index: 1000;
}

input:checked + .slider {
  background-color: #343434;
  .off {
    display: none;
  }
  .on {
    display: flex;
  }
}

input:checked + .slider:before {
  transform: translateX($translateCircle);
}

.on,
.off {
  display: flex;
  align-items: center;
  height: 20px;
  width: 20px;
}

.on {
  transform: translateX(5px);
  display: none;
}
.off {
  transform: translateX($translateRightIcon);
}

.switchFocus {
  width: $widthFocus;
  color: white;
  .on,
  .off {
    margin-bottom: 2px;
  }
  .slider:before {
    bottom: 1px;
    left: 1px;
  }
  .slider {
    border: 2px solid #c6c8ca;
  }
  input:checked + .slider:before {
    transform: translateX($translateCircleFocus);
  }
  .off {
    transform: translateX($translateRightIconFocus);
  }
  .slider {
    background-color: var(--focus-background-default);
  }
}

.switchFocus.focused {
  color: #c6c8ca;
  .slider {
    background: transparent;
  }
  .slider:before {
    background: #c6c8ca;
  }
}
