@import "../../styles/variables.scss";
.keyboard {
  color: var(--font-color-default);
  transition: color $transition-mode $transition-ms;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.line {
  display: flex;
  justify-content: center;
}
.key {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 49px;
  height: 49px;
  margin: 1px;
  border: 1px solid var(--border-color-default);
  border-radius: 5px;
  transition: background-color 0.1s ease-in-out, border-color $transition-mode $transition-ms;
  transition-delay: 0s;
}
.active {
  background: #afafaf;
  transition-duration: 0s;
  transition: background-color 0.1s ease-in;
}
.sup {
  margin-left: 5px;
}
.sys {
  font-size: 12px;
}
.back {
  width: 75px;
}
.tab {
  width: 75px;
}
.caps {
  width: 88px;
}
.shift {
  width: 114px;
}
.enter {
  width: 88px;
}
.space {
  width: 300px;
}
